body{
    font-family : Ubuntu;

}

.card-deck{
    padding: 20px
}
.contenedor{

    background: #212d40;
    display:flex;
    justify-content: center;

};
.caja{
    width: 100px;
    height: 100px;
    background: #f79256;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    color: #fff
}

